.project {
    background-color: #1b1b1b7a;
    padding: 1rem;
    margin: 1rem 0;
}

h3{
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.tools{
    margin-bottom: 2.5rem;;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

ul>li{
    display: inline;;
}

li{
    padding: .15em .5rem;
    background-color: #ffd31d;
    color: black;
    justify-content: space-between;
    margin-right: .5rem;
    border-radius: 3px;
}